In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# load titanic dataset
df = pd.read_csv('../Projects/Titanic Machine Learning/dataset/train.csv')
df.head()

In [ ]:
# shape of data
df.shape

In [ ]:
df = pd.concat([df, df.tail(5)])
df

In [ ]:
# check duplicate data with column
df[df.duplicated()]

In [ ]:
# sum of duplicate data
df.duplicated().sum()

In [ ]:
# remove/drope duplicat
df = df.drop_duplicates()
df

In [ ]:
# total missing value
df.isnull().sum()

In [ ]:
# percentage of missing value
(df.isnull().sum() / len(df)) * 100

In [ ]:
# index of missing value in Age column
age_missing_index = df[df['Age'].isnull()].index.tolist()
age_missing_index

In [ ]:
df.iloc[age_missing_index]

In [ ]:
# index of missing value in Cabin
cabin_missing_index = df[df['Cabin'].isnull()].index.tolist()
cabin_missing_index

In [ ]:
df.iloc[cabin_missing_index]

In [ ]:
#index of missing value in Embarked
embarked_missing_value = df[df['Embarked'].isnull()].index.tolist()
embarked_missing_value

In [ ]:
df.iloc[embarked_missing_value]

In [ ]:
# imputing with a constant
from sklearn.impute import SimpleImputer
train_constant = df.copy()

# setting strategy to 'constant'
# approach 1
cons_imputer = SimpleImputer(strategy='constant', fill_value= -1) #impute using -1 constant value
train_constant['Age'] = cons_imputer.fit_transform(train_constant['Age'].values.reshape(-1, 1))

# show where age fillup with -1 value
train_constant[train_constant['Age'] <= -1]

In [ ]:
# Fillup missing vlaue with "mean" value
train = df.copy()

# missing age value found
missing_age = train[train['Age'].isnull()].index.tolist()

# settring strategy to 'mean' to impute by mean
imputer = SimpleImputer(strategy='mean')
train['Age'] = imputer.fit_transform(train[['Age']])

train.iloc[missing_age]

In [ ]:
df.groupby('Sex')['Age'].median()

In [ ]:
train = df.copy()

# fillup using median value
train['Age'] = train.groupby('Sex')['Age'].transform(lambda x: x.fillna(x.median()))
# train['Age']

train.iloc[age_missing_index]

In [ ]:
train = df.copy()

imputer = SimpleImputer(strategy='median')
train['Age'] = imputer.fit_transform(train[['Age']])

train.iloc[age_missing_index]

In [ ]:
df.Cabin.unique()

In [ ]:
df.Cabin.value_counts()

In [ ]:
# fillup missing value using most frequent value of a column
train_most_frequent = df.copy()

# it uses Mode
# mode_imputer = SimpleImputer(strategy='most_frequent')
# train_most_frequent['Cabin'] = mode_imputer.fit_transform(train_most_frequent[['Cabin']])

# 2nd approach
value = df.Cabin.value_counts().index[0]
train_most_frequent['Cabin'] = train_most_frequent['Cabin'].fillna(value)

train_most_frequent.iloc[cabin_missing_index]

## K-Nearest Neighbor Imputation

In [ ]:
from sklearn.impute import KNNImputer
train_knn = df.copy()

knn_imputer = KNNImputer(n_neighbors=3, weights='uniform')
train_knn[['Age', 'Pclass', 'Fare', 'Survived']] = knn_imputer.fit_transform(train_knn[['Age', 'Pclass', 'Fare', 'Survived']])

train_knn.iloc[age_missing_index]

## Home Work

In [ ]:
train = df.copy()
# train['Name'].str.replace('[^A-Z]', ' ')

seperated_name = train['Name'].str.split( )
seperated_name

In [ ]:
train['Split_name'] = train.Name.str.extract(', (\w*\.?)')

train.groupby('Split_name')['Age'].count()

In [ ]:
train.groupby('Split_name')['Age'].mean()

In [ ]:
train = df.copy()

train['Initial']=0
for i in train:
    train['Initial']=train.Name.str.extract('([A-Za-z]+)\.') #extracting Name initials

In [104]:
train.groupby('Initial')['Age'].mean()

Initial
Capt        70.000000
Col         58.000000
Countess    33.000000
Don         40.000000
Dr          42.000000
Jonkheer    38.000000
Lady        48.000000
Major       48.500000
Master       4.574167
Miss        21.773973
Mlle        24.000000
Mme         24.000000
Mr          32.368090
Mrs         35.898148
Ms          28.000000
Rev         43.166667
Sir         49.000000
Name: Age, dtype: float64

In [105]:
# check missing index for age
age_missing_index = train[train['Age'].isnull()].index.to_list()
train.iloc[age_missing_index]

train.groupby('Initial')['Age'].transform(lambda x: x.fillna(x.mean()))

train.iloc[age_missing_index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Initial
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Mr
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Mrs
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Mr
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,Mr
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Miss
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,Mr
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Mr
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss